@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Adjust thickness */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Make track invisible */
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4); /* Subtle, semi-transparent thumb */
  border-radius: 10px; /* Smooth rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6); /* Slightly darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}
